modules:
  arista_if_mib:
    walk:
      - 1.3.6.1.2.1.2
      - 1.3.6.1.2.1.31.1.1
      - 1.3.6.1.2.1.25
    metrics:
      - name: ifOperStatus
        oid: 1.3.6.1.2.1.2.2.1.8
        type: gauge
      - name: ifAdminStatus
        oid: 1.3.6.1.2.1.2.2.1.7
        type: gauge
    metrics:
      - name: ifInErrors
        oid: 1.3.6.1.2.1.2.2.1.14
        type: counter
      - name: ifOutErrors
        oid: 1.3.6.1.2.1.2.2.1.20
        type: counter
      - name: ifInDiscards
        oid: 1.3.6.1.2.1.2.2.1.13
        type: counter
      - name: ifOutDiscards
        oid: 1.3.6.1.2.1.2.2.1.19
        type: counter
      - name: ifHCInOctets
        oid: 1.3.6.1.2.1.31.1.1.1.6
        type: counter64
      - name: ifHCOutOctets
        oid: 1.3.6.1.2.1.31.1.1.1.10
        type: counter64
      - name: ifSpeed
        oid: 1.3.6.1.2.1.2.2.1.5
        type: gauge
      - name: hrProcessorLoad
        oid: 1.3.6.1.2.1.25.3.3.1.2
        type: gauge
      - name: hrStorageDescr
        oid: 1.3.6.1.2.1.25.2.3.1.3
        type: DisplayString
      - name: hrStorageSize
        oid: 1.3.6.1.2.1.25.2.3.1.5
        type: gauge
      - name: hrStorageUsed
        oid: 1.3.6.1.2.1.25.2.3.1.6
        type: gauge
    auth:
      community: public
      version: 2
