auths:
  public_v2:
    community: public
    version: 2

modules:
  arista_if_mib:
    auth: public_v2
    walk:
      - 1.3.6.1.2.1.2
      - 1.3.6.1.2.1.31.1.1
      - 1.3.6.1.2.1.25.3.3
      - 1.3.6.1.2.1.25.2.3
