modules:
  arista_if_mib:
    walk:
      - 1.3.6.1.2.1.2
      - 1.3.6.1.2.1.31.1.1
    metrics:
      - name: ifInErrors
        oid: 1.3.6.1.2.1.2.2.1.14
        type: counter
      - name: ifOutErrors
        oid: 1.3.6.1.2.1.2.2.1.20
        type: counter
      - name: ifInDiscards
        oid: 1.3.6.1.2.1.2.2.1.13
        type: counter
      - name: ifOutDiscards
        oid: 1.3.6.1.2.1.2.2.1.19
        type: counter
      - name: ifHCInOctets
        oid: 1.3.6.1.2.1.31.1.1.1.6
        type: counter64
      - name: ifHCOutOctets
        oid: 1.3.6.1.2.1.31.1.1.1.10
        type: counter64
      - name: ifSpeed
        oid: 1.3.6.1.2.1.2.2.1.5
        type: gauge
    auth:
      community: public
      version: 2
